body {
  background-color: black;
}

.container{  
  text-align: center;
  width: 30px;  
  height: 20px;  
  padding-top: 10px;  
}  

h1 {

 font-family: Calibri;
 font-size: 30pt;
 text-align: center;
 color: lightblue;

}

h2 {

 font-family: Calibri;
 font-size: 24pt;
 text-align: center;
 color: lightblue;

}

h3 {

 font-family: Calibri;
 font-size: 15pt;
 color: lightblue;

}

p, ol, ul, li {

  font-family: Calibri;
  color: white;
}

button {

  font-size: 12pt;
  text-align: center;

}

form, input[type=text], input[type=number], input[type=submit] {

  text-align: center;
  font-family: Calibri;
  font-size: 18pt;
  border: 2px solid lightblue;
  border-radius: 4px;

}

label {

  color: white;

}

table {
  font-family: Calibri;;
}

th {
  font-style: bold;
}

table, th, td {
  border: 1px solid white;
  color: white;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

a {
  font-family: Calibri;
  color: lightblue
}

table.noborder {
  border: none;
  width: 100%;
  text-align: center;
  fill: white;
  position: sticky;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img.latex {
	vertical-align: -0px;
}

.text {
        height: 500px;
        width: 1000px;
      }

p.footer {

 font-family: Calibri;
 font-size: 10pt;
 border: 1px solid lightblue;
 color: lightblue;

}
